<html>
    <head>
<title>Jonathon Moore's Homepage</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" link href="/static/base.css">
    </head>

    <body style="background-color:MintCream">

    <div>
            <h1 style="font-size:60px">Jonathon Moore</h1>
    </div>


    <div id="links">
        <div id="cat">
        <a href ="https://www.linkedin.com/in/jonathondmoore/">
            <img id="icon" src="/static/images/linkedin_icon.png" alt="LinkedIn">
        </a>
        <a href ="https://github.com/barbaroja19">
            <img id="icon" src="/static/images/github_icon_2.png" alt="GitHub">
        </a>
        <a href ="http://jdmdatasci.pythonanywhere.com/gallery">
            <img id="icon" src="/static/images/6910222_preview.png" alt="Gallery">
        </a>
         <a href ="https://www.buymeacoffee.com/gPRt1y9">
            <img id="icon" src="/static/images/coffee.png" alt="BuyMeaCoffee">
        </a>
        </div>

    </div>

    <div id="aboutme">
        <img id="profilepic" src="/static/images/profile_pic.jpg" alt="">
        <h2>Hi I'm Jon</h2>
        <p>I am a Quality Assurance Engineer and asipring Data Scientist.</p>
        <p>When I'm not working or spending time with my family, I enjoy reading, developing my personal voice assistant Watari, and exploring generative art.</p>
        <p>Click <a href ="http://jdmdatasci.pythonanywhere.com/gallery">here</a> or on the pallet icon above to see some of my work!</p>
    </div>

    </body>
</html>
