<html>
    <head>
        <title>Jonathon Moore's Website</title>
    </head>

    <body>

        <div>
            Dummy content 1
        </div>

        <div>
            Dummy content 2
        </div>

        <div>
            Dummy content 3
        </div>

        <div>
            <form action="." method="POST">
                <textarea name="contents" placeholder="Enter a comment"></textarea>
                <input type="Submit" value="Post comment">
            </form>
        </div>

    </body>
</html>